<div class="jumbotron">
  <h1 class="display-4">Hola, bienvenido!</h1>
  <p class="lead">Esta es la pagina de bienvenida de nuestro proyecto</p>
  <hr class="my-4">
  <p>Ponte cómodo :)</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Ver mas</a>
</div>