*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
    background-image: url('https://github.com/CarsOk/ADSO2558427EQUIPO3WEB/blob/web/docs/Fondo.jpg?raw=true');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
nav{
    background-color: #F29F05 ;
    display: flex;
    border-radius: 10px 10px 0px 0px;
    justify-content: space-between;
    align-items: center;
}
aside{
    padding: 10px;
}
article{
    padding: 10px;
}
.header{
    display: flex;
    background-color: #F29F05 ;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}
.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}
.header .logo{
    cursor: pointer;
}
.header .logo img:hover{
    transform: scale(1.2);
}
.header .nav-links{
    list-style: none;
}
.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}
.header .nav-links li:hover{
    transform: scale(1.1);
}
.header .nav-links a{
    font-size: 700;
    color: black;
    text-decoration: none;
}
.header .nav-links li a:hover{
    color: white;
}
.fondo{
    height: 575px;
    width: 1349px;

}
.logo1{
    border-radius: 35px;
}
.footer {
    font-size: 14px;
    background-color: rgb(36, 36, 35);
    padding: 50px 0;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .icon {
    margin-right: 15px;
    font-size: 24px;
    line-height: 0;
  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 5px;
    color: #fff;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #fff;
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
    transition: 0.3s;
  }
  
  .footer .social-links a:hover {
    color: #fff;
    border-color: #fff;
  }
  
  .footer .copyright {
    text-align: center;
    padding-top: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer .credits {
    padding-top: 4px;
    text-align: center;
    font-size: 13px;
  }
  
  .footer .credits a {
    color: #fff;
  }