aside{
    padding: 20px;
    right: 35px;
}
article{
    padding: 20px;
}
header{
    
}
.navbar-brand{
    font-size: 40px;
    font-weight:800px;
    background: -webkit-linear-gradient(#ff1d1d, #f29f05);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.naav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}